SERVER=
TOKEN=
APIKEY=
SENSOR_MOCK=false
ECONOMY_STATE_PATH=http://192.168.4.43:4444/economy
ECONOMY_HTTP_HEADER_KEY=
ECONOMY_HTTP_HEADER_VALUE=
GAUGE_STATE_PATH=http://192.168.4.43:4444/gauge_state
LOGIN_BONUS_PATH=http://192.168.4.43:4444/login_bonus